:root {
    --smallest: 0.0625em;
    --very-small: 0.75em;
    --small: 1em;
    --medium: 1.25em;
    --large: 1.5em;
    --larger: 1.75em;
    --very-large: 2em; 
    --largest: 2.44em;
    --green:  #16DB99;
    --dark-green:#065F46;
    --light-green: #ECFDF5;
    --small-wg: 400;
    --medium-wg: 700;
    --font-color-dark: #141414;
    --font-color-light: #888;
    --border-color: #757575;
}


* {
    box-sizing: border-box;
}

/* Typography */ 
.title-subtitle {
    position: absolute;
    left:  1.875em;
    top: 0.625em;
    color: #fff;
}

.name {
     font-size: var(--large); 
     color: var(--font-color-dark);
}  

.ing,
.remove {
    font-size: var(--small);
    color: var(--font-color-light);
}

.price {
    font-size: var(--large);
    color: var(--font-color-dark);
}

.emoji {
    font-size: 4.92em;
    margin-right: 4rem;
}

/* order typo */
.order-title {
    font-size: var(--larger);
    text-align: center;
    /* margin-top: 0; */
 }
.order-name {
     margin-right: 10px;
 }

 /* modal typo */
.modal-title {
    font-size: var(--large);
    color: var(--font-color-dark);
}

.last-title {
    text-align: center;
    width: 504px;
    height: 120px;
    margin: 20px;
    font-size: var(--large);
    color: var(--dark-green);
    border-radius: 3px;
    background: #ECFDF5;
}

/**** Containers ****/

body {
    width: 37.5em;
    margin: 0 auto;
    height: 90vh;
    padding: 0;
    font-family: 'Smythe', cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    max-height: 90vh;
    /* border: 2px solid purple; */
}

.main-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 11em;
   /* border: var(--smallest) solid var(--font-color-dark); */
}

.header {
    /* border: 1px solid green; */
    height: 0.5em;
    width: 37.5em;
    /* width: 100%; */
    position: relative;
    margin: 0;
    padding: 0;
}

.menu-items {
  width: 31.25em;
  height: 8.75em; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.names {
    margin-right: auto;
    line-height: 0.125em;
}
/* font awesome */
.fa-regular {
      border-radius: 50%;
      border: 0.0625em solid #dedede;
      padding: 0.882em;
      font-size: 1.0625em; /* 17px */
      color: #3c3c3c;
}

.fa-regular:hover {
    background-color: var(--green);
    color: #ECFDF5;
    cursor: pointer;
}

/* order remove btn */
.remove {
    margin-right: auto;
}
.remove:hover {
    color: #ff748c;
}

/* Order */
.order-section {
    width: 31.25em;
    /* height: 72.5625em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.05em;
    margin: 0;
}

/* Total price */
.purchase-btn {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;   
}

input,
.pay-btn,
.cancel-btn,
.purchase-btn {
    text-align: center;
    width: 29rem;
    height: 4rem;
    font-size: var(--medium);
}
.pay-btn,
.cancel-btn,
.purchase-btn {
    background-color: var(--green);
    color: #fff;
    border: none;
}

 .modal {
   margin: 0 auto;
   width: 31.25em;
   height: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
   border-radius: 4px;
   border: none;
   z-index: 10;
   cursor: pointer;
   position: fixed;
} 

.modal::backdrop {
    background-color: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.hidden {
    display: none;
}


