:root {
    --smallest: 0.0625rem;
    --very-small: 0.75rem;
    --small: 1rem;
    --medium: 1.25rem;
    --large: 1.4rem;
    --large-m: 1.375em;
    --larger: 1.75rem;
    --very-large: 2rem; 
    --largest: 2.44rem;  
    --small-wg: 400;
    --medium-wg: 700;
    --green:  #16DB99;
    --dark-green:#065F46;
    --light-green: #ECFDF5;
    --font-color-dark: #141414;
    --font-color-light: #888;
    --border-color: #757575;
}

* {
    box-sizing: border-box;
}

/* Typography */ 
.title-subtitle {
    position: absolute;
    left:  0.3rem;
    top: 0.30rem;
    color: #fff;
    line-height: 0.6;
}
.title-header {
    font-size: var(--large);
}
.subtitle-header {
    font-size: var(--small);
}
.name {
     font-size: var(--large); 
     color: var(--font-color-dark);
}  
.ing,
.remove {
    font-size: var(--small);
    color: var(--font-color-light);
}
.price {
    font-size: var(--large);
    color: var(--font-color-dark);
}

.emoji {
    font-size: 3.5rem;
    margin-right: 1rem;
}

/* order typo */
.order-title {
    font-size: var(--small);
    /* text-align: center; */
    margin: 0.1em;
 }
.order-name {
     margin-right: 10px;
 }

 /* modal typo */
.modal-title {
    font-size: var(--large);
    color: var(--font-color-dark);
}

hr {
  border: 1px solid #D2D2D2;
  width: 80%;
}

/* font awesome */
.fa-regular {
    border-radius: 50%;
    border: 0.0625em solid #dedede;
    padding: 0.882em;
    font-size: 1.0625em; /* 17px */
    color: #3c3c3c;
}

.fa-regular:hover {
  background-color: var(--dark-green);
  color: #ECFDF5;
  cursor: pointer;
}

/**** Containers ****/

body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;
    margin-top: 0.5em;
}

.img-rest {
    /* position: absolute; */
    margin: 0 auto;
    display: block;
    /* width: 100%; */
    max-width: 300px;
    object-fit: cover;
}
.header {
    /* border: 1px solid green; */
    position: relative;
}

.container {
   width: 80%;
   max-width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
   /* border: var(--smallest) solid var(--font-color-dark); */
}

.menu {
    /* border: var(--smallest) solid var(--font-color-dark); */
    /* margin-top: 10.3em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
}

.menu-items {
    /* width: 100%; */
    padding: 0.5em;
    /* margin-top: 8em; */
  /* width: 31.25em; */
  /* height: 8.75em;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.names {
    margin-right: auto;
    /* line-height: 0.125em; */
    line-height: 0.5;
}


/* order remove btn */
.remove {
    margin-right: auto;
}
.remove:hover {
    color: #ff748c;
}

/* Order */
.order {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    line-height: 0.7;
    margin: 0.2em;
}
.order-section {
    display: flex;
    line-height: 0.2;
    /* border: 1px solid lime; */
    width: 97%;
    align-items: center;
    justify-content: space-between;
}


/* Total price */
.purchase-btn {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;   
}

.total-price-section {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.your-total-section {
   /* border: 1px solid lime; */
   width: 97%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: var(--large);
}

.last-div {
    text-align: center;
    width: 97%;
    margin: 1em;
    font-size: var(--small);
    color: var(--dark-green);
    border-radius: 3px;
    background: #ECFDF5;
}

input,
.pay-btn,
.cancel-btn,
.purchase-btn {
    margin: 0.3em;
    text-align: center;
    width: 100%;
    height: 4rem;
    font-size: var(--medium);
}
.pay-btn,
.cancel-btn,
.purchase-btn {
    background-color: var(--green);
    color: #fff;
    border: none;
}

 .modal {
   width: 90%;
   max-width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
   border-radius: 4px;
   border: none;
   z-index: 10;
   background-color: #fff;
   cursor: pointer;
   position: fixed;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.hidden {
    display: none;
}

/***** @media *****/ 
@media (min-width: 480px) and (max-width: 768px) {          /***** media *****/
    .img-rest {
        margin: 0 auto;
        display: block;
        max-width: 440px;
    }
    .title-subtitle {
        left:  0.6rem;
        top: 0.2rem;
        line-height: 0.5;
    }
    .title-header {
        font-size: var(--largest);
    }
    .subtitle-header {
        font-size: var(--large);
    }

    .container {
       width: 90%;
       max-width: 440px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .names {
         line-height: 1;
    }
    .modal {
       width: 90%;
       max-width: 440px;
    }    
}

@media (min-width: 768px) and (max-width: 1024px) {

    /****** Typo ******/
    .title-subtitle {
        left:  1.6rem;
        line-height: 0.9;
    }
    .title-header {
        font-size: var(--largest);
    }
    .subtitle-header {
        font-size: var(--large-m);
    }
    .name {
         font-size: var(--larger); 
    }  
    .ing,
    .remove {
        font-size: var(--small);
    }
    .price {
        font-size: var(--larger);
    }
    
    .emoji {
        font-size: 4rem;
        margin-right: 3rem;
    }
    
    /* order typo */
    .order-title {
        font-size: var(--large);
        /* text-align: center; */
        /* margin: 0.1em; */
     }
    .order-name {
        font-size: var(--large);
         margin-right: 10px;
     }
    
     /* modal typo */
    .modal-title {
        font-size: var(--large);
        color: var(--font-color-dark);
    }
    
    hr {
      border: 1px solid #D2D2D2;
      width: 90%;
    }
    /* font awesome */
    .fa-regular {
        font-size: var(--large);
    }
    /**** Containers ****/
    .img-rest {
        width: 100%;
        margin: 0 auto;
        display: block;
        max-width: 600px;
    }
    .container {
      max-width: 600px;
    }
    input,
    .pay-btn,
    .cancel-btn,
    .purchase-btn {
        font-size: var(--large);
    }
    .modal {
       width: 90%;
       max-width: 600px;
    }    
}

@media (min-width: 1024px) {

    /****** Typo ******/
    .title-subtitle {
        left:  1.6rem;
        line-height: 0.9;
    }
    .title-header {
        font-size: var(--largest);
    }
    .subtitle-header {
        font-size: var(--large-m);
    }
    .name {
         font-size: var(--larger); 
    }  
    .ing,
    .remove {
        font-size: var(--small);
    }
    .price {
        font-size: var(--larger);
    }
    
    .emoji {
        font-size: 4rem;
        margin-right: 3rem;
    }
    
    /* order typo */
    .order-title {
        font-size: var(--large);
        /* text-align: center; */
        /* margin: 0.1em; */
     }
    .order-name {
        font-size: var(--large);
         margin-right: 10px;
     }
    
     /* modal typo */
    .modal-title {
        font-size: var(--large);
        color: var(--font-color-dark);
    }
    
    hr {
      border: 1px solid #D2D2D2;
      width: 90%;
    }
    /* font awesome */
    .fa-regular {
        font-size: var(--large);
    }
    /**** Containers ****/
    .img-rest {
        width: 100%;
        margin: 0 auto;
        display: block;
        max-width: 600px;
    }
    .container {
      max-width: 600px;
    }
    input,
    .pay-btn,
    .cancel-btn,
    .purchase-btn {
        font-size: var(--large);
    }
    .modal {
       width: 90%;
       max-width: 600px;
    }    
}






